*{
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}

/* anchor style */
.no-style{
  text-decoration: none;
}
.wc{
  color: white;
}

#main-logo {
  width: 100px;
  height: 80px;
  padding-left: 30px;
}

header{
  background: black;/*rgb(228, 180, 8);*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /*topra fixeli a headert*/
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: 0;
  height:90px;
  z-index: 1000;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left:100px;
  margin-right: 50px;
}

.nav-button{
  padding: 10px;
  margin: 5px;
  font-weight: 900;
  color: white;
  transition: 0.1s;
  border-bottom: 3px solid black;
}

.nav-button:hover{
  border-bottom: 3px solid #f06236;
}
/*
#010101 black
#f06236 orange, #ffaa78 lighter orange?
#fcc809 yellow
#fdfdfd white
#414342 darkgray
#838888 lightgray
#e7ac94 pinkish?
#8b7813 greeyellowbrown?
*/
/*sign up/ sign in buttons*/
.sgnuBtn, .sgniBtn{
  border: 2px solid #f06236;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  color: #f06236;
  transition: 0.1s;
}
.sgnuBtn{
  background: #f06236;
  color: black;
}
.sgnuBtn:hover{
  background: rgb(255, 149, 117);
  border-color: rgb(255, 149, 117);
  border-bottom-width: 2px;
}
.sgniBtn:hover{
  color: rgb(255, 149, 117);
  border-color: rgb(255, 149, 117);
  border-bottom-width: 2px;
}

.header-button-container{
  list-style-type: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/*CONTENT SECTION*/

.content{
  /*background: #f06236;*/
  /*background-image: url('imgs/background_big_01.jpg');*/
  width: 100%;
  height: 100vh;
  /*ha nem akarom hogy a content a header alá csússzon*/
  /*margin-top: 90px;*/
}

section {
  width: 100vh;
}

/*home section*/

.h-container{
  margin-top: 400px;
  display: grid;
  /*flex-direction: column;
  justify-content:center;*/
  margin-left: 100px;
  grid-template-rows: 1fr 1fr 6fr;
}

h1{
  font-weight: bolder;
  font-size: 4rem;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  letter-spacing: 20px;
  background: black;
  color: #f06236;
  width: fit-content;
}

h2{
  font-size: 2rem;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

.home p{
  margin-top: 40px;
}

.home{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(131deg, rgba(240,98,54,1) 40%, rgba(230,135,79,1) 100%);
}

/*about section*/
.about{
  display: flex;
  width: 100%;
  
  background: linear-gradient(131deg, rgb(48, 48, 48) 40%, rgb(141, 141, 141) 100%);
  justify-content: center;
  align-items: center;
  padding: 90px 0px;
}
.a-container{
  position: relative;
  display: flex;
  margin: auto;
  background: #000000c9;
  border-radius: 24px;
  width: 80%;
  color: white;
}
.a-container img{
  width: 500px;
  border-radius: 24px 0px 0px 24px;
  transform: translateX(-4px);
}
.about-description-container{
  margin: 20px;
}
.about-description-container h2{
  font-size: 3rem;
  margin-bottom: 40px;;
}
.about-description-container p{
  font-size: 1.2rem;
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  nav{
    display: none;
  }
  /*content*/

  /*home*/

  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1rem;
  }
  .home{
    width: inherit;
  }
  .h-container{
    margin-left: 0;
    margin-top: 50px;;
  }

  /*about*/
  .about{
    padding: 10px 5px;;
  }
  
  .a-container{
    width:100%;
    flex-direction: column;
  }

  .a-container img{
    width: 100%;
    border-radius: 24px 24px 0 0;
    transform: translateX(0);
  }
}